<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserSuite" parallel="classes" thread-count="4">
	<listeners>
		<listener class-name="extentReports.ExtentReportListeners" />
		<listener class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
	</listeners>
	<test name="EdgeTest">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="testClasses.DataStructureTest"></class>
			<class name="testClasses.GraphTest"></class>
			<class name="testClasses.ArrayTest"></class>
			<class name="testClasses.LinkedListTest"></class>
			<class name="testClasses.TreeTest"></class>
			<class name="testClasses.StackTest"></class>
			<class name="testClasses.QueueTest"></class>
			<class name="testClasses.LoginTest"></class>
			<class name="testClasses.RegisterTest"></class>
			<class name="testClasses.HomeTest"></class>
		</classes>
	</test>

	<test name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testClasses.DataStructureTest"></class>
			<class name="testClasses.GraphTest"></class>
			<class name="testClasses.ArrayTest"></class>
			<class name="testClasses.LinkedListTest"></class>
			<class name="testClasses.TreeTest"></class>
			<class name="testClasses.StackTest"></class>
			<class name="testClasses.QueueTest"></class>
			<class name="testClasses.LoginTest"></class>
			<class name="testClasses.RegisterTest"></class>
			<class name="testClasses.HomeTest"></class>
		</classes>
	</test>
</suite>
